<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dao.IGysDao">
    <select id="selectList" parameterType="bean.in.GysInBean" resultType="bean.out.GysOutBean">
		select (@i:=@i+1) rn,
			id as id,
			roleName as roleName,
			note as note,
			price3 as price3
		 from gys, (SELECT @i:=0) as i
        <where>
            <choose>
                <when test="id!=null and id!='' and sqlIdLike==true">and id like concat(concat('%',#{id}),'%')</when>
                <when test="id!=null and id!='' and sqlIdLeftLike==true">and id like concat(#{id},'%')</when>
                <when test="id!=null and id!='' and sqlIdRightLike==true">and id like concat('%',#{id})</when>
                <when test="id!=null and id!='' and sqlIdD==true">and id&gt;#{id}</when>
                <when test="id!=null and id!='' and sqlIdX==true">and id&lt;#{id}</when>
                <when test="id!=null and id!='' and sqlIdDd==true">and id&gt;= #{id}</when>
                <when test="id!=null and id!='' and sqlIdXd==true">and id&gt;= #{id}</when>
                <when test="id!=null and sqlIdInList!=null and sqlIdInList.size()!='0'.toString()">
                    <foreach collection="sqlIdInList" item="a" open="id in (" close=")" separator=",">#{a}</foreach>
                </when>
                <when test="id!=null and id!=''">and id=#{id}</when>
            </choose>
            <choose>
                <when test="roleName!=null and roleName!='' and sqlRoleNameLike==true">and roleName like concat(concat('%',#{roleName}),'%')</when>
                <when test="roleName!=null and roleName!='' and sqlRoleNameLeftLike==true">and roleName like concat(#{roleName},'%')</when>
                <when test="roleName!=null and roleName!='' and sqlRoleNameRightLike==true">and roleName like concat('%',#{roleName})</when>
                <when test="roleName!=null and roleName!='' and sqlRoleNameD==true">and roleName&gt;#{roleName}</when>
                <when test="roleName!=null and roleName!='' and sqlRoleNameX==true">and roleName&lt;#{roleName}</when>
                <when test="roleName!=null and roleName!='' and sqlRoleNameDd==true">and roleName&gt;= #{roleName}</when>
                <when test="roleName!=null and roleName!='' and sqlRoleNameXd==true">and roleName&gt;= #{roleName}</when>
                <when test="roleName!=null and sqlRoleNameInList!=null and sqlRoleNameInList.size()!='0'.toString()">
                    <foreach collection="sqlRoleNameInList" item="a" open="roleName in (" close=")" separator=",">#{a}</foreach>
                </when>
                <when test="roleName!=null and roleName!=''">and roleName=#{roleName}</when>
            </choose>
            <choose>
                <when test="note!=null and note!='' and sqlNoteLike==true">and note like concat(concat('%',#{note}),'%')</when>
                <when test="note!=null and note!='' and sqlNoteLeftLike==true">and note like concat(#{note},'%')</when>
                <when test="note!=null and note!='' and sqlNoteRightLike==true">and note like concat('%',#{note})</when>
                <when test="note!=null and note!='' and sqlNoteD==true">and note&gt;#{note}</when>
                <when test="note!=null and note!='' and sqlNoteX==true">and note&lt;#{note}</when>
                <when test="note!=null and note!='' and sqlNoteDd==true">and note&gt;= #{note}</when>
                <when test="note!=null and note!='' and sqlNoteXd==true">and note&gt;= #{note}</when>
                <when test="note!=null and sqlNoteInList!=null and sqlNoteInList.size()!='0'.toString()">
                    <foreach collection="sqlNoteInList" item="a" open="note in (" close=")" separator=",">#{a}</foreach>
                </when>
                <when test="note!=null and note!=''">and note=#{note}</when>
            </choose>
            <choose>
                <when test="price3!=null and price3!='' and sqlPrice3Like==true">and price3 like concat(concat('%',#{price3}),'%')</when>
                <when test="price3!=null and price3!='' and sqlPrice3LeftLike==true">and price3 like concat(#{price3},'%')</when>
                <when test="price3!=null and price3!='' and sqlPrice3RightLike==true">and price3 like concat('%',#{price3})</when>
                <when test="price3!=null and price3!='' and sqlPrice3D==true">and price3&gt;#{price3}</when>
                <when test="price3!=null and price3!='' and sqlPrice3X==true">and price3&lt;#{price3}</when>
                <when test="price3!=null and price3!='' and sqlPrice3Dd==true">and price3&gt;= #{price3}</when>
                <when test="price3!=null and price3!='' and sqlPrice3Xd==true">and price3&gt;= #{price3}</when>
                <when test="price3!=null and sqlPrice3InList!=null and sqlPrice3InList.size()!='0'.toString()">
                    <foreach collection="sqlPrice3InList" item="a" open="price3 in (" close=")" separator=",">#{a}</foreach>
                </when>
                <when test="price3!=null and price3!=''">and price3=#{price3}</when>
            </choose>
            <if test="sqlWhere!=null">${sqlWhere}</if>
        </where>
        <if test="sqlOrderBy!=null">order by ${sqlOrderBy}</if>
        <if test="sqlLimit==true">LIMIT #{sqlStartIndex},#{sqlPageSize}</if>
    </select>
    <select id="selectOne" parameterType="bean.in.GysInBean" resultType="bean.out.GysOutBean">
		 select 
			id as id,
			roleName as roleName,
			note as note,
			price3 as price3
		 from gys
        <where>
            <choose>
                <when test="id!=null and id!='' and sqlIdLike==true">and id like concat(concat('%',#{id}),'%')</when>
                <when test="id!=null and id!='' and sqlIdLeftLike==true">and id like concat(#{id},'%')</when>
                <when test="id!=null and id!='' and sqlIdRightLike==true">and id like concat('%',#{id})</when>
                <when test="id!=null and id!='' and sqlIdD==true">and id&gt;#{id}</when>
                <when test="id!=null and id!='' and sqlIdX==true">and id&lt;#{id}</when>
                <when test="id!=null and id!='' and sqlIdDd==true">and id&gt;= #{id}</when>
                <when test="id!=null and id!='' and sqlIdXd==true">and id&gt;= #{id}</when>
                <when test="id!=null and sqlIdInList!=null and sqlIdInList.size()!='0'.toString()">
                    <foreach collection="sqlIdInList" item="a" open="id in (" close=")" separator=",">#{a}</foreach>
                </when>
                <when test="id!=null and id!=''">and id=#{id}</when>
            </choose>
            <choose>
                <when test="roleName!=null and roleName!='' and sqlRoleNameLike==true">and roleName like concat(concat('%',#{roleName}),'%')</when>
                <when test="roleName!=null and roleName!='' and sqlRoleNameLeftLike==true">and roleName like concat(#{roleName},'%')</when>
                <when test="roleName!=null and roleName!='' and sqlRoleNameRightLike==true">and roleName like concat('%',#{roleName})</when>
                <when test="roleName!=null and roleName!='' and sqlRoleNameD==true">and roleName&gt;#{roleName}</when>
                <when test="roleName!=null and roleName!='' and sqlRoleNameX==true">and roleName&lt;#{roleName}</when>
                <when test="roleName!=null and roleName!='' and sqlRoleNameDd==true">and roleName&gt;= #{roleName}</when>
                <when test="roleName!=null and roleName!='' and sqlRoleNameXd==true">and roleName&gt;= #{roleName}</when>
                <when test="roleName!=null and sqlRoleNameInList!=null and sqlRoleNameInList.size()!='0'.toString()">
                    <foreach collection="sqlRoleNameInList" item="a" open="roleName in (" close=")" separator=",">#{a}</foreach>
                </when>
                <when test="roleName!=null and roleName!=''">and roleName=#{roleName}</when>
            </choose>
            <choose>
                <when test="note!=null and note!='' and sqlNoteLike==true">and note like concat(concat('%',#{note}),'%')</when>
                <when test="note!=null and note!='' and sqlNoteLeftLike==true">and note like concat(#{note},'%')</when>
                <when test="note!=null and note!='' and sqlNoteRightLike==true">and note like concat('%',#{note})</when>
                <when test="note!=null and note!='' and sqlNoteD==true">and note&gt;#{note}</when>
                <when test="note!=null and note!='' and sqlNoteX==true">and note&lt;#{note}</when>
                <when test="note!=null and note!='' and sqlNoteDd==true">and note&gt;= #{note}</when>
                <when test="note!=null and note!='' and sqlNoteXd==true">and note&gt;= #{note}</when>
                <when test="note!=null and sqlNoteInList!=null and sqlNoteInList.size()!='0'.toString()">
                    <foreach collection="sqlNoteInList" item="a" open="note in (" close=")" separator=",">#{a}</foreach>
                </when>
                <when test="note!=null and note!=''">and note=#{note}</when>
            </choose>
            <choose>
                <when test="price3!=null and price3!='' and sqlPrice3Like==true">and price3 like concat(concat('%',#{price3}),'%')</when>
                <when test="price3!=null and price3!='' and sqlPrice3LeftLike==true">and price3 like concat(#{price3},'%')</when>
                <when test="price3!=null and price3!='' and sqlPrice3RightLike==true">and price3 like concat('%',#{price3})</when>
                <when test="price3!=null and price3!='' and sqlPrice3D==true">and price3&gt;#{price3}</when>
                <when test="price3!=null and price3!='' and sqlPrice3X==true">and price3&lt;#{price3}</when>
                <when test="price3!=null and price3!='' and sqlPrice3Dd==true">and price3&gt;= #{price3}</when>
                <when test="price3!=null and price3!='' and sqlPrice3Xd==true">and price3&gt;= #{price3}</when>
                <when test="price3!=null and sqlPrice3InList!=null and sqlPrice3InList.size()!='0'.toString()">
                    <foreach collection="sqlPrice3InList" item="a" open="price3 in (" close=")" separator=",">#{a}</foreach>
                </when>
                <when test="price3!=null and price3!=''">and price3=#{price3}</when>
            </choose>
            <if test="sqlWhere!=null">${sqlWhere}</if>
        </where>
    </select>
    <select id="getCount" parameterType="bean.in.GysInBean" resultType="int">
		select count(*) from gys
        <where>
            <choose>
                <when test="id!=null and id!='' and sqlIdLike==true">and id like concat(concat('%',#{id}),'%')</when>
                <when test="id!=null and id!='' and sqlIdLeftLike==true">and id like concat(#{id},'%')</when>
                <when test="id!=null and id!='' and sqlIdRightLike==true">and id like concat('%',#{id})</when>
                <when test="id!=null and id!='' and sqlIdD==true">and id&gt;#{id}</when>
                <when test="id!=null and id!='' and sqlIdX==true">and id&lt;#{id}</when>
                <when test="id!=null and id!='' and sqlIdDd==true">and id&gt;= #{id}</when>
                <when test="id!=null and id!='' and sqlIdXd==true">and id&gt;= #{id}</when>
                <when test="id!=null and sqlIdInList!=null and sqlIdInList.size()!='0'.toString()">
                    <foreach collection="sqlIdInList" item="a" open="id in (" close=")" separator=",">#{a}</foreach>
                </when>
                <when test="id!=null and id!=''">and id=#{id}</when>
            </choose>
            <choose>
                <when test="roleName!=null and roleName!='' and sqlRoleNameLike==true">and roleName like concat(concat('%',#{roleName}),'%')</when>
                <when test="roleName!=null and roleName!='' and sqlRoleNameLeftLike==true">and roleName like concat(#{roleName},'%')</when>
                <when test="roleName!=null and roleName!='' and sqlRoleNameRightLike==true">and roleName like concat('%',#{roleName})</when>
                <when test="roleName!=null and roleName!='' and sqlRoleNameD==true">and roleName&gt;#{roleName}</when>
                <when test="roleName!=null and roleName!='' and sqlRoleNameX==true">and roleName&lt;#{roleName}</when>
                <when test="roleName!=null and roleName!='' and sqlRoleNameDd==true">and roleName&gt;= #{roleName}</when>
                <when test="roleName!=null and roleName!='' and sqlRoleNameXd==true">and roleName&gt;= #{roleName}</when>
                <when test="roleName!=null and sqlRoleNameInList!=null and sqlRoleNameInList.size()!='0'.toString()">
                    <foreach collection="sqlRoleNameInList" item="a" open="roleName in (" close=")" separator=",">#{a}</foreach>
                </when>
                <when test="roleName!=null and roleName!=''">and roleName=#{roleName}</when>
            </choose>
            <choose>
                <when test="note!=null and note!='' and sqlNoteLike==true">and note like concat(concat('%',#{note}),'%')</when>
                <when test="note!=null and note!='' and sqlNoteLeftLike==true">and note like concat(#{note},'%')</when>
                <when test="note!=null and note!='' and sqlNoteRightLike==true">and note like concat('%',#{note})</when>
                <when test="note!=null and note!='' and sqlNoteD==true">and note&gt;#{note}</when>
                <when test="note!=null and note!='' and sqlNoteX==true">and note&lt;#{note}</when>
                <when test="note!=null and note!='' and sqlNoteDd==true">and note&gt;= #{note}</when>
                <when test="note!=null and note!='' and sqlNoteXd==true">and note&gt;= #{note}</when>
                <when test="note!=null and sqlNoteInList!=null and sqlNoteInList.size()!='0'.toString()">
                    <foreach collection="sqlNoteInList" item="a" open="note in (" close=")" separator=",">#{a}</foreach>
                </when>
                <when test="note!=null and note!=''">and note=#{note}</when>
            </choose>
            <choose>
                <when test="price3!=null and price3!='' and sqlPrice3Like==true">and price3 like concat(concat('%',#{price3}),'%')</when>
                <when test="price3!=null and price3!='' and sqlPrice3LeftLike==true">and price3 like concat(#{price3},'%')</when>
                <when test="price3!=null and price3!='' and sqlPrice3RightLike==true">and price3 like concat('%',#{price3})</when>
                <when test="price3!=null and price3!='' and sqlPrice3D==true">and price3&gt;#{price3}</when>
                <when test="price3!=null and price3!='' and sqlPrice3X==true">and price3&lt;#{price3}</when>
                <when test="price3!=null and price3!='' and sqlPrice3Dd==true">and price3&gt;= #{price3}</when>
                <when test="price3!=null and price3!='' and sqlPrice3Xd==true">and price3&gt;= #{price3}</when>
                <when test="price3!=null and sqlPrice3InList!=null and sqlPrice3InList.size()!='0'.toString()">
                    <foreach collection="sqlPrice3InList" item="a" open="price3 in (" close=")" separator=",">#{a}</foreach>
                </when>
                <when test="price3!=null and price3!=''">and price3=#{price3}</when>
            </choose>
            <if test="sqlWhere!=null">${sqlWhere}</if>
        </where>
    </select>
    <update id="update">
		update gys
        <set>
            <if test="sqlValueBean.roleName!=null">roleName=#{sqlValueBean.roleName},</if>
            <if test="sqlValueBean.note!=null">note=#{sqlValueBean.note},</if>
            <if test="sqlValueBean.price3!=null">price3=#{sqlValueBean.price3},</if>
        </set>
        <where>
            <choose>
                <when test="sqlWhereBean.id!=null and sqlWhereBean.id!='' and sqlWhereBean.sqlIdLike==true">and id like concat(concat('%',#{sqlWhereBean.id}),'%')</when>
                <when test="sqlWhereBean.id!=null and sqlWhereBean.id!='' and sqlWhereBean.sqlIdLeftLike==true">and id like concat(#{sqlWhereBean.id},'%')</when>
                <when test="sqlWhereBean.id!=null and sqlWhereBean.id!='' and sqlWhereBean.sqlIdRightLike==true">and id like concat('%',#{sqlWhereBean.id})</when>
                <when test="sqlWhereBean.id!=null and sqlWhereBean.id!='' and sqlWhereBean.sqlIdD==true">and id&gt;#{sqlWhereBean.id}</when>
                <when test="sqlWhereBean.id!=null and sqlWhereBean.id!='' and sqlWhereBean.sqlIdX==true">and id&lt;#{sqlWhereBean.id}</when>
                <when test="sqlWhereBean.id!=null and sqlWhereBean.id!='' and sqlWhereBean.sqlIdDd==true">and id&gt;= #{sqlWhereBean.id}</when>
                <when test="sqlWhereBean.id!=null and sqlWhereBean.id!='' and sqlWhereBean.sqlIdXd==true">and id&gt;= #{sqlWhereBean.id}</when>
                <when test="sqlWhereBean.id!=null and sqlWhereBean.sqlIdInList!=null and sqlWhereBean.sqlIdInList.size()!='0'.toString()">
                    <foreach collection="sqlWhereBean.sqlIdInList" item="a" open="id in (" close=")" separator=",">#{a}</foreach>
                </when>
                <when test="sqlWhereBean.id!=null and sqlWhereBean.id!=''">and id=#{sqlWhereBean.id}</when>
            </choose>
            <choose>
                <when test="sqlWhereBean.roleName!=null and sqlWhereBean.roleName!='' and sqlWhereBean.sqlRoleNameLike==true">and roleName like concat(concat('%',#{sqlWhereBean.roleName}),'%')</when>
                <when test="sqlWhereBean.roleName!=null and sqlWhereBean.roleName!='' and sqlWhereBean.sqlRoleNameLeftLike==true">and roleName like concat(#{sqlWhereBean.roleName},'%')</when>
                <when test="sqlWhereBean.roleName!=null and sqlWhereBean.roleName!='' and sqlWhereBean.sqlRoleNameRightLike==true">and roleName like concat('%',#{sqlWhereBean.roleName})</when>
                <when test="sqlWhereBean.roleName!=null and sqlWhereBean.roleName!='' and sqlWhereBean.sqlRoleNameD==true">and roleName&gt;#{sqlWhereBean.roleName}</when>
                <when test="sqlWhereBean.roleName!=null and sqlWhereBean.roleName!='' and sqlWhereBean.sqlRoleNameX==true">and roleName&lt;#{sqlWhereBean.roleName}</when>
                <when test="sqlWhereBean.roleName!=null and sqlWhereBean.roleName!='' and sqlWhereBean.sqlRoleNameDd==true">and roleName&gt;= #{sqlWhereBean.roleName}</when>
                <when test="sqlWhereBean.roleName!=null and sqlWhereBean.roleName!='' and sqlWhereBean.sqlRoleNameXd==true">and roleName&gt;= #{sqlWhereBean.roleName}</when>
                <when test="sqlWhereBean.roleName!=null and sqlWhereBean.sqlRoleNameInList!=null and sqlWhereBean.sqlRoleNameInList.size()!='0'.toString()">
                    <foreach collection="sqlWhereBean.sqlRoleNameInList" item="a" open="roleName in (" close=")" separator=",">#{a}</foreach>
                </when>
                <when test="sqlWhereBean.roleName!=null and sqlWhereBean.roleName!=''">and roleName=#{sqlWhereBean.roleName}</when>
            </choose>
            <choose>
                <when test="sqlWhereBean.note!=null and sqlWhereBean.note!='' and sqlWhereBean.sqlNoteLike==true">and note like concat(concat('%',#{sqlWhereBean.note}),'%')</when>
                <when test="sqlWhereBean.note!=null and sqlWhereBean.note!='' and sqlWhereBean.sqlNoteLeftLike==true">and note like concat(#{sqlWhereBean.note},'%')</when>
                <when test="sqlWhereBean.note!=null and sqlWhereBean.note!='' and sqlWhereBean.sqlNoteRightLike==true">and note like concat('%',#{sqlWhereBean.note})</when>
                <when test="sqlWhereBean.note!=null and sqlWhereBean.note!='' and sqlWhereBean.sqlNoteD==true">and note&gt;#{sqlWhereBean.note}</when>
                <when test="sqlWhereBean.note!=null and sqlWhereBean.note!='' and sqlWhereBean.sqlNoteX==true">and note&lt;#{sqlWhereBean.note}</when>
                <when test="sqlWhereBean.note!=null and sqlWhereBean.note!='' and sqlWhereBean.sqlNoteDd==true">and note&gt;= #{sqlWhereBean.note}</when>
                <when test="sqlWhereBean.note!=null and sqlWhereBean.note!='' and sqlWhereBean.sqlNoteXd==true">and note&gt;= #{sqlWhereBean.note}</when>
                <when test="sqlWhereBean.note!=null and sqlWhereBean.sqlNoteInList!=null and sqlWhereBean.sqlNoteInList.size()!='0'.toString()">
                    <foreach collection="sqlWhereBean.sqlNoteInList" item="a" open="note in (" close=")" separator=",">#{a}</foreach>
                </when>
                <when test="sqlWhereBean.note!=null and sqlWhereBean.note!=''">and note=#{sqlWhereBean.note}</when>
            </choose>
            <choose>
                <when test="sqlWhereBean.price3!=null and sqlWhereBean.price3!='' and sqlWhereBean.sqlPrice3Like==true">and price3 like concat(concat('%',#{sqlWhereBean.price3}),'%')</when>
                <when test="sqlWhereBean.price3!=null and sqlWhereBean.price3!='' and sqlWhereBean.sqlPrice3LeftLike==true">and price3 like concat(#{sqlWhereBean.price3},'%')</when>
                <when test="sqlWhereBean.price3!=null and sqlWhereBean.price3!='' and sqlWhereBean.sqlPrice3RightLike==true">and price3 like concat('%',#{sqlWhereBean.price3})</when>
                <when test="sqlWhereBean.price3!=null and sqlWhereBean.price3!='' and sqlWhereBean.sqlPrice3D==true">and price3&gt;#{sqlWhereBean.price3}</when>
                <when test="sqlWhereBean.price3!=null and sqlWhereBean.price3!='' and sqlWhereBean.sqlPrice3X==true">and price3&lt;#{sqlWhereBean.price3}</when>
                <when test="sqlWhereBean.price3!=null and sqlWhereBean.price3!='' and sqlWhereBean.sqlPrice3Dd==true">and price3&gt;= #{sqlWhereBean.price3}</when>
                <when test="sqlWhereBean.price3!=null and sqlWhereBean.price3!='' and sqlWhereBean.sqlPrice3Xd==true">and price3&gt;= #{sqlWhereBean.price3}</when>
                <when test="sqlWhereBean.price3!=null and sqlWhereBean.sqlPrice3InList!=null and sqlWhereBean.sqlPrice3InList.size()!='0'.toString()">
                    <foreach collection="sqlWhereBean.sqlPrice3InList" item="a" open="price3 in (" close=")" separator=",">#{a}</foreach>
                </when>
                <when test="sqlWhereBean.price3!=null and sqlWhereBean.price3!=''">and price3=#{sqlWhereBean.price3}</when>
            </choose>
            <if test="sqlWhereBean.sqlWhere!=null">${sqlWhereBean.sqlWhere}</if>
        </where>
    </update>
    <insert id="insert" parameterType="bean.GysBean">
		insert into gys
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="roleName!=null">roleName,</if>
            <if test="note!=null">note,</if>
            <if test="price3!=null">price3,</if>
        </trim>
 			values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="roleName!=null">#{roleName},</if>
            <if test="note!=null">#{note},</if>
            <if test="price3!=null">#{price3},</if>
        </trim>
    </insert>
    <delete id="delete" parameterType="bean.in.GysInBean">
		DELETE FROM gys
        <where>
            <choose>
                <when test="id!=null and id!='' and sqlIdLike==true">and id like concat(concat('%',#{id}),'%')</when>
                <when test="id!=null and id!='' and sqlIdLeftLike==true">and id like concat(#{id},'%')</when>
                <when test="id!=null and id!='' and sqlIdRightLike==true">and id like concat('%',#{id})</when>
                <when test="id!=null and id!='' and sqlIdD==true">and id&gt;#{id}</when>
                <when test="id!=null and id!='' and sqlIdX==true">and id&lt;#{id}</when>
                <when test="id!=null and id!='' and sqlIdDd==true">and id&gt;= #{id}</when>
                <when test="id!=null and id!='' and sqlIdXd==true">and id&gt;= #{id}</when>
                <when test="id!=null and sqlIdInList!=null and sqlIdInList.size()!='0'.toString()">
                    <foreach collection="sqlIdInList" item="a" open="id in (" close=")" separator=",">#{a}</foreach>
                </when>
                <when test="id!=null and id!=''">and id=#{id}</when>
            </choose>
            <choose>
                <when test="roleName!=null and roleName!='' and sqlRoleNameLike==true">and roleName like concat(concat('%',#{roleName}),'%')</when>
                <when test="roleName!=null and roleName!='' and sqlRoleNameLeftLike==true">and roleName like concat(#{roleName},'%')</when>
                <when test="roleName!=null and roleName!='' and sqlRoleNameRightLike==true">and roleName like concat('%',#{roleName})</when>
                <when test="roleName!=null and roleName!='' and sqlRoleNameD==true">and roleName&gt;#{roleName}</when>
                <when test="roleName!=null and roleName!='' and sqlRoleNameX==true">and roleName&lt;#{roleName}</when>
                <when test="roleName!=null and roleName!='' and sqlRoleNameDd==true">and roleName&gt;= #{roleName}</when>
                <when test="roleName!=null and roleName!='' and sqlRoleNameXd==true">and roleName&gt;= #{roleName}</when>
                <when test="roleName!=null and sqlRoleNameInList!=null and sqlRoleNameInList.size()!='0'.toString()">
                    <foreach collection="sqlRoleNameInList" item="a" open="roleName in (" close=")" separator=",">#{a}</foreach>
                </when>
                <when test="roleName!=null and roleName!=''">and roleName=#{roleName}</when>
            </choose>
            <choose>
                <when test="note!=null and note!='' and sqlNoteLike==true">and note like concat(concat('%',#{note}),'%')</when>
                <when test="note!=null and note!='' and sqlNoteLeftLike==true">and note like concat(#{note},'%')</when>
                <when test="note!=null and note!='' and sqlNoteRightLike==true">and note like concat('%',#{note})</when>
                <when test="note!=null and note!='' and sqlNoteD==true">and note&gt;#{note}</when>
                <when test="note!=null and note!='' and sqlNoteX==true">and note&lt;#{note}</when>
                <when test="note!=null and note!='' and sqlNoteDd==true">and note&gt;= #{note}</when>
                <when test="note!=null and note!='' and sqlNoteXd==true">and note&gt;= #{note}</when>
                <when test="note!=null and sqlNoteInList!=null and sqlNoteInList.size()!='0'.toString()">
                    <foreach collection="sqlNoteInList" item="a" open="note in (" close=")" separator=",">#{a}</foreach>
                </when>
                <when test="note!=null and note!=''">and note=#{note}</when>
            </choose>
            <choose>
                <when test="price3!=null and price3!='' and sqlPrice3Like==true">and price3 like concat(concat('%',#{price3}),'%')</when>
                <when test="price3!=null and price3!='' and sqlPrice3LeftLike==true">and price3 like concat(#{price3},'%')</when>
                <when test="price3!=null and price3!='' and sqlPrice3RightLike==true">and price3 like concat('%',#{price3})</when>
                <when test="price3!=null and price3!='' and sqlPrice3D==true">and price3&gt;#{price3}</when>
                <when test="price3!=null and price3!='' and sqlPrice3X==true">and price3&lt;#{price3}</when>
                <when test="price3!=null and price3!='' and sqlPrice3Dd==true">and price3&gt;= #{price3}</when>
                <when test="price3!=null and price3!='' and sqlPrice3Xd==true">and price3&gt;= #{price3}</when>
                <when test="price3!=null and sqlPrice3InList!=null and sqlPrice3InList.size()!='0'.toString()">
                    <foreach collection="sqlPrice3InList" item="a" open="price3 in (" close=")" separator=",">#{a}</foreach>
                </when>
                <when test="price3!=null and price3!=''">and price3=#{price3}</when>
            </choose>
            <if test="sqlWhere!=null">${sqlWhere}</if>
        </where>
    </delete>
    <insert id="batchInsert">
		insert into gys
        <trim prefix="(" suffix=")" suffixOverrides=",">roleName,note,price3,</trim>
 			values
        <foreach collection="list" item="item" separator=",">
            <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="item.roleName!=null">#{item.roleName},</if>
                <if test="item.roleName==null">null,</if>
                <if test="item.note!=null">#{item.note},</if>
                <if test="item.note==null">null,</if>
                <if test="item.price3!=null">#{item.price3},</if>
                <if test="item.price3==null">null,</if>
            </trim>
        </foreach>
    </insert>
    <select id="selectOneById" parameterType="object" resultType="bean.GysBean">
		select 
			id as id,
			roleName as roleName,
			note as note,
			price3 as price3 from gys
        <where>id=#{_parameter}</where>
    </select>
    <update id="updateById" parameterType="bean.GysBean">
		update gys
        <set>
            <if test="roleName!=null">roleName=#{roleName},</if>
            <if test="note!=null">note=#{note},</if>
            <if test="price3!=null">price3=#{price3},</if>
        </set>
			where id=#{id}
    </update>
    <insert id="insertGetId" keyProperty="id" useGeneratedKeys="true" parameterType="bean.GysBean">insert into gys
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="roleName!=null">roleName,</if>
            <if test="note!=null">note,</if>
            <if test="price3!=null">price3,</if>
        </trim>
 			values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="roleName!=null">#{roleName},</if>
            <if test="note!=null">#{note},</if>
            <if test="price3!=null">#{price3},</if>
        </trim>
    </insert>
    <delete id="deleteById" parameterType="object">
		DELETE FROM gys
        <where>id=#{_parameter}</where>
    </delete>
    <insert id="batchInsertGetId" keyProperty="id" useGeneratedKeys="true">
		insert into gys
        <trim prefix="(" suffix=")" suffixOverrides=",">roleName,note,price3,</trim>
 			values
        <foreach collection="list" item="item" separator=",">
            <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="item.roleName!=null">#{item.roleName},</if>
                <if test="item.roleName==null">null,</if>
                <if test="item.note!=null">#{item.note},</if>
                <if test="item.note==null">null,</if>
                <if test="item.price3!=null">#{item.price3},</if>
                <if test="item.price3==null">null,</if>
            </trim>
        </foreach>
    </insert>
</mapper>
